repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        files: ^(src|tests)/
      - id: ruff-format
        files: ^(src|tests)/
  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.37.4
    hooks:
      - id: basedpyright
        files: ^(src|tests)/
